@import '../node_modules/bulma/sass/utilities/initial-variables'; // include helpers
@import './template';
@import '../node_modules/bulma/bulma.sass';



html,
body {
  margin: 0;
  padding: 0;
  overflow: hidden;
  font-size: 1rem;
}

.main {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;

  display: grid;
  grid-template-areas:
  "controls controls"
  "local remote";
  grid-template-columns: auto;
  grid-template-rows: 4rem 1fr;
  grid-gap: 0.25rem;

  background: $dim;
  color: $light;
}

.controls {
  grid-area: controls;
  background: $dark;
  display: flex;
  align-items: center;

  .load-from {
    input {
      display: none;
    }
  }
}

.local {
  grid-area: local;
}

.remote {
  grid-area: remote;
}

.controls, .local, .remote {
  padding: 0.5rem;
}

.local, .remote {
  background: $nori;
}

//
